<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/details.css">
    <title>Document</title>
</head>
<body>
    <header>
    
        <span> <a href="/">  <img id="escudoh" src="/img/escudo.png" alt=""> </a></span>
        <span> <h1>  LHP-BORGES Bases Fortnite Save The World </h1> </span>
        
        </header>
    
        <main>

    <div class="card-total">
        <div class="card-text"> Canny Valley </div>
        <div class="card-img">  <img id="foto" src="/img/escudo.jpg" alt="foto da base de "> </div>
       
    
    </div>

    <div>
        <table>
        <tr>
            <td>Descrição: hello world</td>
           
        </tr>
    
        <tr>
            <td>preço: R$</td>
           
        </tr>
    
        <tr>
            
                <td id="DC"> contato:  <a href="https://discord.gg/msD4NKSpwQ" target="_blank">  Discord </a></td>
        </tr>
    </table>
    </div>

</main>
<footer>© Jacaré De Rua 2222</footer>
</body>
</html>